{% extends 'base.html' %}

{% block content %}
<h1>home</h1>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet quae velit sed consequatur autem ratione reprehenderit, animi consequuntur aut, nisi corrupti aperiam eaque tempora doloribus ea harum sint ipsum ducimus? Harum nobis aliquid quasi! Deleniti, illo quos id voluptatum mollitia consequuntur porro tempore dolor repellendus beatae. At architecto inventore nemo omnis sequi odit maxime fugit, ea rerum, similique unde amet adipisci doloribus eum deserunt. Maiores excepturi obcaecati nisi hic ad. Facilis doloremque, non reprehenderit, magni nesciunt corrupti accusantium voluptatem architecto aliquam placeat nulla impedit repudiandae. Voluptas qui, ea architecto distinctio fugit incidunt, alias autem velit sapiente delectus quae suscipit consequuntur!
{% endblock %}